<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <h1>BrainRotAI</h1> 
        {% if is_auth %}
            <a href="{% url "brainrotapp:about_user" %}">About User</a><br>
            <button onclick="logout()">Logout</button>
        {% else %}
            <a href="{% url "brainrotapp:login" %}">Login</a>
            <a href="{% url "brainrotapp:register" %}">Registration</a>
        {% endif %}
        {% block body %}{% endblock %}
        <script>
            const logout = async () => {
                await fetch("http://127.0.0.1:8001/api/logout/", {
                    method: "GET",
                    credentials: 'include',
                })
                window.location.href = "{% url "brainrotapp:login" %}"
            }
        </script>
    </body>
</html>