{% extends "base.html" %}
{% load static %}

{% block body %}
        <h1>Login</h1>
        <form method="post" id="login_form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" id="submit_btn">Login</button>
        <div id="status_div"></div>
        </form>
        <script>
            let form_for_login = document.getElementById("login_form")
            form_for_login.onsubmit = async (e) => {
                e.preventDefault();

                let login = document.getElementById("login_input").value;
                let password = document.getElementById("password_input").value;

                let formdata = new URLSearchParams();
                formdata.append('username', login);
                formdata.append('password', password);
                try {
                    let response = await fetch("http://127.0.0.1:8001/api/token/", {
                        method: "POST",
                        credentials: 'include',
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        },
                        body: formdata
                    });
                    if (!response.ok) {
                        switch (response.status) {
                            case 401:
                                throw {"message": "Incorrect username/pasword"};
                            case 500:
                                throw {"message": "Internal server error"}
                            default:
                                throw {"message": `Error with code: ${response.status}`}
                        }
                    }
                    let token_response = await response.json()
                    localStorage.setItem("token", token_response.access_token)
                    window.location.href = "{% url 'brainrotapp:index' %}";
                }
                catch (error) {
                    document.getElementById("status_div").innerHTML = `
                    <h3>Error: ${error.message}</h3>
                    `;
                }
            }
        </script>
{% endblock %}