{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block body %}
    <h1>Registration</h1>
    <form method="post" id="registration_form">
        {{ form }}
        <input type="submit" value="Register">
    </form>
    <div id="form_errors"></div>
    <script>
        const registration_form = document.getElementById("registration_form");
        const form_errors = document.getElementById("form_errors")
        registration_form.onsubmit = async (e) => {
            e.preventDefault();

            let username = document.getElementById("username_input").value
            let fullname = document.getElementById("fullname_input").value;
            let email = document.getElementById("email_input").value;
            let password = document.getElementById("password_input").value;
            let repeat_password = document.getElementById("repeat_password").value;

            if (validate_passwords(password, repeat_password)) {
                try {
                    const response = await fetch("http://127.0.0.1:8001/api/register", {
                        method: "POST",
                        credentials: 'include',
                        headers: {
                            "Content-Types": "application/x-www-form-urlencoded"
                        },
                        body: new URLSearchParams({
                            "username": username,
                            "fullname": fullname,
                            "email": email,
                            "password": password,
                            "repeat_password": repeat_password
                        })
                    })
                    if (!response.ok) {
                        switch (response.status) {
                            case 500:
                                throw {"message": "Internal server error"}
                            case 404:
                                throw {"message": "Not Found"}
                            case 403:
                                throw {"message": "Invalid password: password is small or passwords does not match"}
                            default:
                                throw {"message": `Error with status: ${response.status}`}
                        }
                    }
                    form_errors.innerHTML = ``
                    window.location.href = "{% url 'brainrotapp:index' %}";
                }
                catch (error) {
                    form_errors.innerHTML = `
                        <h3>${error.message}</h3>
                    `
                }
            }
        }
        const validate_passwords = function(pass1, pass2) {
            if (pass1 !== pass2) {
                form_errors.innerHTML = `
                    <h3>Passwords does not match</h3>
                `
                return false;
            }
            if (pass1.length < 8) {
                form_errors.innerHTML = `
                    <h3>Password is small(minimum 8 characters)</h3>
                `
                return false;
            }
            return true;
        }
    </script>
{% endblock %}