{% extends "base.html" %}
{% load static %}

{% block body %}
    <h3>Generate image from prompt</h3>
    <form id="prompt_form" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" id="submit_btn">Generate</button>
    </form>
    <br>
    <div id="result_image"></div>
    <div id="selected_image"></div>
    {% if is_auth %}
        <div id="generated_images"></div>
    {% else %}
        <h3>Please, authorize to the service</h3>
    {% endif %}
    <script>
        const generate_form = document.getElementById("prompt_form");
        const submit_btn = document.getElementById("submit_btn");

        const button_change = function(btn, state) {
            switch (state) {
                case "loading":
                    btn.disabled = true;
                    btn.style.opacity = "0.7";
                    btn.innerHTML = "Generating...";
                    break;
                case "done":
                    btn.disabled = false;
                    btn.style.opacity = "1";
                    btn.innerHTML = "Generate";
                    break;
            }
        }

        const getCurrentImage = async (image_id) => {
            const response = await fetch(`http://127.0.0.1:8001/api/get_current_image/${image_id}`, {
                method: 'GET',
                credentials: 'include'
            });
            const result = await response.json();
            return result.result;
        }


        const viewGeneratedImage = function(imageSrc, image_id) {
            const imageElement = document.createElement("div");
            imageElement.id = String(image_id);
            imageElement.innerHTML = `
            <img src="${imageSrc}" width="200" onclick="viewSelectedImage(${image_id})"/>
            `;
            document.getElementById("generated_images").append(imageElement);
        }


        const deleteImage = async(image_id) => {
            try {
                await fetch(`http://127.0.0.1:8001/api/delete_image/${image_id}`, {
                    method: "DELETE",
                    credentials: 'include'
                })
                if (!response.ok) {
                    throw {"status": response.status}
                }
            }
            catch (error) {
                if (error.status === 401) {
                    window.location.href = "{% url "brainrotapp:login" %}"
                }
            }
            document.getElementById(image_id).remove();
            clear_result();
        }

                
        const clear_result = function() {
            document.getElementById("result_image").innerHTML = "";
        }

        generate_form.onsubmit = async (e) => {

            e.preventDefault();

            button_change(submit_btn, "loading");
        
            const prompt_text = document.getElementById("prompt_input").value;
            const image_ratio = document.getElementById("image_ratio").value;

            try {
                const response = await fetch(`http://127.0.0.1:8001/api/generate/`, {
                    method: 'POST',
                    credentials: 'include',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({"prompt": prompt_text, "image_ratio": image_ratio.split(":")}),
                });

                if (!response.ok) {
                    throw {"status": response.status}
                }

                const responseResult = await response.json()
                const imageId = responseResult.db_id;
                
                const currentImage = await getCurrentImage(imageId);
                document.getElementById("result_image").innerHTML = `
                <h3>${prompt_text}</h3>
                <img src="${currentImage.image_url}" width="500"/>
                <br>
                <button onclick=clear_result()>Сlose</button>
                <button onclick=deleteImage(${imageId})>Delete</button>
                `;
                viewGeneratedImage(currentImage.image_url, imageId);
            }
            catch (error) {
                if (error.status === 401) {
                    window.location.href = "{% url "brainrotapp:login" %}"
                }
            }
            finally {
                button_change(submit_btn, "done");
            }
        };

        const getImages = async () => {
            const response = await fetch("http://127.0.0.1:8001/api/get_images/", {
                method: "GET",
                credentials: 'include'
            });
            const result = await response.json();
            const data = result.result;
            const imageArray = data.image;
            for (const imageObject of imageArray) {
                viewGeneratedImage(imageObject.image_url, imageObject.image_id);
            }    
        }
        getImages();

        const viewSelectedImage = function(image_id) {
            document.getElementById("result_image").innerHTML = "";
            getCurrentImage(image_id)
            .then(
                currentImage => {
                    const selectedImage = document.getElementById("result_image");
                    selectedImage.innerHTML = `
                        <h3>${currentImage.prompt}</h3>
                        <img src="${currentImage.image_url}" width="500"/><br>
                        <button onclick=clear_result()>Сlose</button>
                        <button onclick=deleteImage(${image_id})>Delete</button>
                    `;
                }
            );
        }
    </script>
{% endblock %}   